
*{
    margin: 0px;
    padding: 0px;
}
.container{

    max-width: 1200px;
    width: 95%;


}

 .back_img{
    height: 611px;
    background-image:url('../image\ folder/th.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.sp2{
    color: rgb(250, 4, 4);
    

}

.lobo{
    
    color: honeydew;
    margin: -3px 102px 5px 149px;
    padding: 9px 27px 7px 15px;
    display: inline-flex;
    float: left;
       
}

ul{
    
    margin: -8px 78px 5px 187px;
    padding: 15px 27px 7px 15px;
    display: inline-flex;
    float: right;
       
       

}
  a{
    
    text-decoration: none;
   
   
  }
  .sp1{
      color: honeydew;
      font-size: 20px;
      font-weight: bolder;
      font-style: initial;
  }
  .sp1:hover{
      
    color: yellow;
      font-size: 25px;
      border-bottom: 2px solid whitesmoke;
  }

  
 .h2{

    
    padding: 5px 102px 0px 451px;
    margin: 114px 23px 7px 65px;
}
    
  
  
  .sp3{
      color:red;
      font-size: 15px;
      font-weight: bold;
  }
  .P1{
    
    padding: 1px 5px 5px 8px;
    margin: 13px 20px 22px 199px;
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
    width: 909px;

  }

  .btn{
       border: 2px solid whitesmoke;
       padding: 10px 13px 10px 10px;
       margin: 8px 26px 43px 547px;
       text-transform: uppercase;
       background-color:whitesmoke ;
       border-radius: 23px;
     
  }

  .btn:hover{
     
    background-color: rgb(182, 169, 169);
  }

  
li {


    text-align: center;
    display: inline;
    margin-left: 17px;
    padding: 5px 5px 5px 5px ;
}

.showcase{
    
    background-color: rgb(219, 212, 201);
    
    padding: 26px 1px 8px 5px;
    margin: -18px -2px 5px -5px;
}


.row1{

    order: 2px solid red;
    padding: 104px 5px 0px 17px;
    margin: 15px 79px 73px 79px;

}

.row2{

    
    padding: 60px 5px 5px 17px;
    margin: 40px 79px 5px 79px;
}

 .R1{
   
    border: 1px solid black;
    padding: 2px -1px 7px 22px;
    margin: -107px 330px -55px 136px;
    box-shadow:-5px 9px 18px red;
}



 .R2{

    border: 2px solid blueviolet;
    padding: 4px 5px 5px 5px;
    margin: -206px -6px 5px 488px;
    background-color: rgb(180, 164, 152);
    height: 192px;
    width: 334px;
    text-align: center;
    box-shadow:4px 8px 17px 1px red;
}


 .R3{
   
    border: 1px solid black;
    padding: 2px -1px 7px 22px;
    margin: -107px 330px -55px 136px;
    box-shadow:-5px 9px 18px red;
 }



 .R4{

    border: 2px solid blueviolet;
    padding: 4px 5px 5px 5px;
    margin: -206px -6px 5px 488px;
    height: 192px;
    width: 334px;
    background-color: rgb(180, 164, 152);
    text-align: center;
    box-shadow:4px 8px 17px 1px red;
}

.btn1{
    border: 2px solid whitesmoke;
    padding: 5px 9px 12px 20px;
    margin: 23px 14px 12px 10px;
    text-transform: uppercase;
    background-color: wheat;
    border-radius: 24px;
    border-color: rgb(255, 163, 163);
}

.btn1:hover{
    
    
    border-color: rgb(250, 4, 4);

    background-color: rgb(182, 169, 169);
}    


.btn2{
    border: 2px solid whitesmoke;
    padding: 5px 9px 12px 20px;
    margin: 23px 14px 12px 10px;
    text-transform: uppercase;
    background-color: wheat;
    border-radius: 24px;
    border-color: rgb(255, 163, 163);
}

.btn2:hover{

    border-color: red;
    background-color: rgb(182, 169, 169);
    

}

/* showcase2 ------------------------------------------- */

.showcase2{

    
    padding: 103px 5px 18px 5px;
    margin: -6px 0px 5px 0px;
    background-color: rgb(219, 212, 201);
  
}

.row3{

    
    padding: 0px 21px 14px 10px;
    margin: -87px 202px -15px 136px;
}
    


.c1{

    border: 2px solid black;
    padding: 5px 5px 5px 5px ;
    margin: 5px 5px 4px 82px ;
    height: 122px;
    background-color: rgb(236, 174, 82);
    width: 203px;
    box-shadow:8px 8px 22px 0px rgb(182, 174, 174);
   
    
}


.c2{
    border: 2px solid black;
    padding: 5px 5px 4px 5px;
    margin: -139px 104px 0px 19px;
    height: 122px;
    background-color: rgb(213, 236, 82);
    width: 204px;
    float: right;
    box-shadow:8px 8px 22px 0px rgb(182, 174, 174);
   
}
   



.c3{

    border: 2px solid black;
    padding: 0px 5px 2px 5px ;
    margin: -139px 6px 3px 297px ;
    background-color: rgb(151, 236, 82);
    height: 129px;
    width: 200px;
    box-shadow:8px 8px 22px 0px rgb(182, 174, 174);
   
    
}
   
 .footer{

    
    padding: 2px 2px 2px 2px;
    margin: -5px 0px 5px 0px;
    width: auto;
    height: 61px;
    background-color: rgb(84, 109, 156);
    

 }   

 .image{

    
    margin: 2px 5px 2px 17px;
    padding: 5px 2px 2px 491px;
    width: auto;
    height: 61px;
    
 }

 i{
     margin-left: 5px;
 }









